ka9q-web
libka9q.a
config_paths.h
*.service
*.debhelper
*.o
private
.vscode/
.claude/settings.local.json
\#*\#
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.depend
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
*~
Icon
Network Trash Folder
Temporary Items
